<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
</head>
<body>
<h1>게시글 등록</h1>
<form action="/create/new-post" method="post">
    <div class="titleInput">
        <span>제목</span>
        <input type="text" size="20" id="title" name="title">
    </div>
    <div class="contentInput">
        <span>내용</span>
        <input type="text" size="50" id="content" name="content">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>